@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
video {
    vertical-align: top;
}

/* 플롯해제 */
.cf::after {
    content: "";
    display: block;
    clear: both;
}
